<div data-role="content">
<%= form_for(@dog) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain">
    <legend><%= f.label :name %></legend>
    <%= f.text_field :name, { :data => {:theme => :c}}  %>
  </div>


  <div data-role="fieldcontain">

    <fieldset class="priority" data-role="controlgroup" data-type="horizontal" data-mini="true">
        <legend><%= f.label :priority %></legend><br />
         <label for="radio-choice-d">3</label>
         <%= f.radio_button(:priority, '3', :type => 'radio', :id => "radio-choice-d", :theme => "a")  %>
         <label for="radio-choice-e">2</label>
         <%= f.radio_button(:priority, '2', :type => 'radio', :id => "radio-choice-e", :theme => "a") %>
         <label for="radio-choice-c">1</label>
         <%= f.radio_button(:priority, '1', :type => 'radio', :id => "radio-choice-c", :theme => "a") %>
    </fieldset>

<!-- <%= f.text_field :priority, { :type => "range", :id => "slider-fill", :name => "slider-fill", :max => 10, :min => 0, :step => 1, :data => {:highlight => "true"}} %> -->

  </div>


<!-- <form>
    <label for="slider-2">Slider (default is "false"):</label>
    <input type="range" name="slider-2" id="slider-2" data-highlight="true" min="0" max="100" value="50">
</form>
 -->
<!-- <input type="range" name="slider-fill" id="slider-fill" value="3" min="0" max="10" step="1" data-highlight="true"> -->

  <div data-role="fieldcontain">
    <legend><%= f.label :site %></legend>
    <%= f.select(:site,['TLAC','51st and Mueller','Brodie','SoCo','Lakeline']) %>

    <a href="#">Map</a>
  </div>


<div data-role="fieldcontain">
  <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
      <legend>Has <%= f.label :bio %></legend><br />
       <label for="radio-choice-d">Yes</label>
       <%= f.radio_button(:bio, 'Yes', :type => 'radio', :id => "radio-choice-d", :theme => "a")  %>
       <label for="radio-choice-e">Needs<br />Update</label>
       <%= f.radio_button(:bio, 'Update Needed', :type => 'radio', :id => "radio-choice-e", :theme => "a") %>
       <label for="radio-choice-c">No</label>
       <%= f.radio_button(:bio, 'No', :type => 'radio', :id => "radio-choice-c", :theme => "a") %>
  </fieldset>
</div>


<div data-role="fieldcontain">
  <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
      <legend>Has <%= f.label :photo %></legend><br />
       <label for="radio-choice-d">Yes</label>
       <%= f.radio_button(:photo, 'Yes', :type => 'radio', :id => "radio-choice-d", :theme => "a")  %>
       <label for="radio-choice-e">Outdated</label>
       <%= f.radio_button(:photo, 'Update Needed', :type => 'radio', :id => "radio-choice-e", :theme => "a") %>
       <label for="radio-choice-c">No</label>
       <%= f.radio_button(:photo, 'No', :type => 'radio', :id => "radio-choice-c", :theme => "a") %>
  </fieldset>
</div>


<div data-role="fieldcontain">
  <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
      <legend>Has <%= f.label :video %></legend><br />
       <label for="radio-choice-d">Yes</label>
       <%= f.radio_button(:video, 'Yes', :type => 'radio', :id => "radio-choice-d", :theme => "a")  %>
       <label for="radio-choice-e">Outdated</label>
       <%= f.radio_button(:video, 'Update Needed', :type => 'radio', :id => "radio-choice-e", :theme => "a") %>
       <label for="radio-choice-c">No</label>
       <%= f.radio_button(:video, 'No', :type => 'radio', :id => "radio-choice-c", :theme => "a") %>  </fieldset>
</div>


  <div data-role="fieldcontain">
    <legend><%= f.label :notes %></legend>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <fieldset class="ui-grid-a">
        <div class="ui-block-a"><%= link_to 'Cancel', dogs_path, { "data-role" => "button" } %></div>
        <div class="ui-block-b"><%= f.submit "value" => "Update", "data-theme" => "b" %></div>
    </fieldset>
  </div>

<% end %>

<br />

<%= link_to 'View Profile', @dog, { "data-role" => "button" } %>
<%= link_to 'Delete Profile', @dog, method: :delete, data: { confirm: 'Are you sure?', role: "button", theme: "d" } %>



</div>