<div data-role="content">



<%= form_for(@dog) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain">
    <legend><%= f.label :name %></legend>
    <%= f.text_field :name, { :data => {:theme => :c}}  %>
  </div>


  <div data-role="fieldcontain">

    <fieldset class="priority" data-role="controlgroup" data-type="horizontal" data-mini="true">
        <legend><%= f.label :priority %></legend><br />
         <label for="radio-choice-d">3</label>
         <%= f.radio_button(:priority, '3', :type => 'radio', :id => "radio-choice-d", :theme => "a")  %>
         <label for="radio-choice-e">2</label>
         <%= f.radio_button(:priority, '2', :type => 'radio', :id => "radio-choice-e", :theme => "a") %>
         <label for="radio-choice-c">1</label>
         <%= f.radio_button(:priority, '1', :type => 'radio', :id => "radio-choice-c", :theme => "a") %>
    </fieldset>

<!-- <%= f.text_field :priority, { :type => "range", :id => "slider-fill", :name => "slider-fill", :max => 10, :min => 0, :step => 1, :data => {:highlight => "true"}} %> -->

  </div>


<!-- <form>
    <label for="slider-2">Slider (default is "false"):</label>
    <input type="range" name="slider-2" id="slider-2" data-highlight="true" min="0" max="100" value="50">
</form>
 -->
<!-- <input type="range" name="slider-fill" id="slider-fill" value="3" min="0" max="10" step="1" data-highlight="true"> -->

  <div data-role="fieldcontain">
    <legend><%= f.label :site %></legend>
    <%= f.select(:site,['TLAC','51st and Mueller','Brodie','SoCo','Lakeline']) %>

    <!-- <a href="#">Map</a> -->
  </div>


<div data-role="fieldcontain">
  <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
      <legend><%= f.label :bio %></legend><br />
       <label for="radio-choice-d">Complete</label>
       <%= f.radio_button(:bio, 'Complete', :type => 'radio', :id => "radio-choice-d", :theme => "a")  %>
       <label for="radio-choice-e">Outdated</label>
       <%= f.radio_button(:bio, 'Outdated', :type => 'radio', :id => "radio-choice-e", :theme => "a") %>
       <label for="radio-choice-c">Incomplete</label>
       <%= f.radio_button(:bio, 'Incomplete', :type => 'radio', :id => "radio-choice-c", :theme => "a") %>
  </fieldset>
</div>


<div data-role="fieldcontain">
  <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
      <legend><%= f.label :photo %></legend><br />
       <label for="radio-choice-d">Complete</label>
       <%= f.radio_button(:photo, 'Complete', :type => 'radio', :id => "radio-choice-d", :class => "photo-complete", :theme => "a")  %>
       <label for="radio-choice-e">Outdated</label>
       <%= f.radio_button(:photo, 'Outdated', :type => 'radio', :id => "radio-choice-e", :class => "photo-outdated", :theme => "a") %>
       <label for="radio-choice-c">Incomplete</label>
       <%= f.radio_button(:photo, 'Incomplete', :type => 'radio', :id => "radio-choice-c", :class => "photo-incomplete", :theme => "a") %>

  </fieldset>

    <div id="upload-photo">
    <a href="#upload-popup" data-role="button" data-mini="true" data-inline="true" data-icon="edit" data-theme="c" data-rel="popup" data-position-to="window" data-transition="pop">Upload Photos</a>
    </div>

</div>


<div data-role="fieldcontain">
  <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
      <legend><%= f.label :video %></legend><br />
       <label for="radio-choice-d">Complete</label>
       <%= f.radio_button(:video, 'Complete', :type => 'radio', :id => "radio-choice-d", :class => "video-complete", :theme => "a")  %>
       <label for="radio-choice-e">Outdated</label>
       <%= f.radio_button(:video, 'Outdated', :type => 'radio', :id => "radio-choice-e", :class => "video-outdated", :theme => "a") %>
       <label for="radio-choice-c">Incomplete</label>
       <%= f.radio_button(:video, 'Incomplete', :type => 'radio', :id => "radio-choice-c", :class => "video-incomplete", :theme => "a") %>  
  </fieldset>

    <div id="upload-video">
    <a href="#upload-popup" data-role="button" data-mini="true" data-inline="true" data-icon="edit" data-theme="c" data-rel="popup" data-position-to="window" data-transition="pop">Upload Video</a>
    </div>

</div>


  <div data-role="fieldcontain">
    <legend><%= f.label :notes %></legend>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <fieldset class="ui-grid-a">
        <div class="ui-block-a"><%= link_to 'Cancel', dogs_path, { "data-role" => "button" } %></div>
        <div class="ui-block-b"><%= f.submit "value" => "Update", "data-theme" => "b" %></div>
    </fieldset>
  </div>

<% end %>

<br />


<%= link_to 'View Profile', @dog, { "data-role" => "button" } %>
<%= link_to 'Delete Profile', @dog, method: :delete, data: { confirm: 'Are you sure?', role: "button", theme: "d" } %>


<!-- temporary popup for photo and video upload -->
<div id="upload-popup" data-role="popup" data-overlay-theme="a" class="ui-content">
   <a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
  <p>SmugMug Integration Coming Soon!</p>
</div>



</div>