<!-- Begin Header -->
<div data-role="header" data-position="fixed">
  <h1>Edit <%= @dog.name %>'s Profile</h1>
    <%= link_to 'Back', dogs_path, { "data-icon"  => "back", "data-iconpos" => "notext" } %> 
	<a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
</div>
<!-- End Header -->

<%= render "mobilepanel" %>

<%= render 'form' %>

<%= render "mobilefooter" %>
