<!-- Begin Header -->
<div data-role="header" data-position="fixed">
  <h1>High Priority Dogs</h1>
<%= link_to 'Back', dogs_path, { "data-icon"  => "back" } %> 
<a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
</div>
<!-- End Header -->

<%= render "mobilepanel" %>



<div data-role="content">
<div data-role="collapsible-set" data-theme="a" data-inset="false" data-navigation="true">
        <h3>Find dogs by Priority:</h3>

    <div data-role="collapsible" id="three">
        <h4>3</h4>    
       
                   <ul data-role="listview" data-count-theme="a">
                        <% Dog.low.each do |dog| %>
                            <li>
                                <%= link_to edit_dog_path(dog) do %>
                                <h3><%= dog.name %></h3>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>               
    </div>

    <div data-role="collapsible">
                <h4>2</h4>
                    <ul data-role="listview" data-count-theme="a">
                    <% Dog.med.each do |dog| %>
                        <li>
                            <%= link_to edit_dog_path(dog) do %>
                            <h3><%= dog.name %></h3>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
     </div>


    <div data-role="collapsible">

           <h4>1</h4>
                <ul data-role="listview" data-count-theme="a">
                    <% Dog.high.each do |dog| %>
                        <li>
                            <%= link_to edit_dog_path(dog) do %>
                            <h3><%= dog.name %></h3>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
    </div>
	


	</div>
</div>


<%= render "mobilefooter" %>
