<h1>Listing dogs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Priority</th>
    <th>Site</th>
    <th>Bio</th>
    <th>Photo</th>
    <th>Video</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dogs.each do |dog| %>
  <tr>
    <td><%= dog.name %></td>
    <td><%= dog.priority %></td>
    <td><%= dog.site %></td>
    <td><%= dog.bio %></td>
    <td><%= dog.photo %></td>
    <td><%= dog.video %></td>
    <td><%= dog.notes %></td>
    <td><%= link_to 'Show', dog %></td>
    <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
    <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dog', new_dog_path %>
